.glass-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to right , #0f2027 , #203a43 , #2c5364);
  min-height: 100vh;
}

.glass-signup-card{
  background: rgba(0 , 188 , 212 , 0.1 );
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
  color: #f1f;
  box-shadow: 0 8px 32px 0 rgba(31 , 38 , 135 , 0.4 );
  transition: background 0.5s ease transform 0.3s ease , color 0.3s ease;
}

.glass-signup-card:hover{
  background: rgba(15 , 76 , 117 , 0.3);
  transform: translateY(-6px);
  color: #f9f9;
}

h2 {
  text-align: center;
  color: #f1c40f;
}

label {
  margin-top: 1rem;
  display: block;
  font-weight: bold;
  color: #00bcd4;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background: #1e1e2f;
  border: 1px solid #00bcd4;
  color: yellow;
  border-radius: 0.5rem;
  transition: border 0.3s ease;
}

.form-control:focus {
  border-color: #2196f3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
}

/* Role buttons */
.role-button-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.role-button {
  flex: 1;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid #00bcd4;
  color: #00bcd4;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.role-button:hover {
  background: rgba(0, 188, 212, 0.2);
}

.active-role {
  background-color: #00bcd4;
  color: black;
}

/* Main Submit Button */
.glass-button {
  margin-top: 1.5rem;
  background: linear-gradient(to right, #00bcd4, #2196f3);
  border: none;
  padding: 0.75rem;
  border-radius: 1rem;
  width: 100%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.glass-button:hover {
  background: linear-gradient(to right, #2196f3, #00bcd4);
}

/* Link Button */
.glass-button-sm {
  margin-top: 0.5rem;
  background-color: transparent;
  border: none;
  color: #00bcd4;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.glass-button-sm:hover {
  color: #f1c40f;
  text-decoration: underline;
}