<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow-lg w-100" style="max-width: 450px;">
    <h2 class="text-center mb-4">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          class="form-control"
          [(ngModel)]="loginData.username"
          name="username"
          placeholder="Email"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          class="form-control"
          [(ngModel)]="loginData.password"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
      </div>

      <button type="submit" class="btn btn-success w-100">Login</button>
    </form>

    <div class="text-center mt-3">
      <a routerLink="/forgot-password" class="btn btn-link">Forgot Password?</a><br />
      <a routerLink="/reset-password" class="btn btn-link">Reset Password</a>
    </div>
  </div>
</div>
